In [8]:
os.chdir('C:\\Users\\jenny\\venvs\\py39\\Lib\\site-packages')
import pandas as pd
import re
import openpyxl
import numpy

In [20]:
os.chdir('C:\\Users\\jenny\\venvs\\py39\\Lib\\site-packages')
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.7
WARNING: You are using pip version 21.0.1; however, version 21.1 is available.
You should consider upgrading via the 'c:\users\jenny\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [9]:
df = pd.read_excel('C:\\Users\\jenny\\venvs\\py39\\Regex\\regex.xlsx', names=['SOF_Countries', 'SOW_Countries'])
df

,SOF_Countries,SOW_Countries
0,"[[""IL""],[""IL""]]","[[""IL""],[""IL""]]"
1,"[[""CH"",""IL"",""BE""],[""CH"",""IL"",""BE""]]","[[""IL"",""CH"",""BE""],[""IL"",""CH"",""BE""]]"
2,"[[""AO"",""NL"",""CH""],[""AO"",""NL"",""CH""],[""AO"",""NL"",...","[[],[""CH"",""AO"",""IL""],[""AO"",""IL"",""GB"",""CH""]]"
3,"[""IL""]","[""IL""]"
4,"[[""CH"",""RU""],[""CH"",""RU""]]","[[],[""RU"",""DE""]]"
...,...,...
148,"[""IL"",""AO""]","[""IL"",""AO""]"
149,"[[""IL""],[""IL""]]","[[],[""IL""]]"
150,"[[""CH"",""IL""],[""CH"",""IL""],[""CH"",""IL""]]","[[],[""CH"",""IL""],[""CH"",""IL""]]"
151,"[""IL"",""DE"",""NL"",""FR"",""US""]",[]
152,"[[""DE""],[""DE""]]","[[],[],[]]"

In [10]:
df['SOF'] = df['SOF_Countries'].str.findall(r'"([A-Z]+)"+')

df['SOW'] = df['SOW_Countries'].str.findall(r'"([A-Z]+)"+')
df
df = df[['SOW_Countries', 'SOW', 'SOF_Countries', 'SOF']]
df

,SOW_Countries,SOW,SOF_Countries,SOF
0,"[[""IL""],[""IL""]]","[IL, IL]","[[""IL""],[""IL""]]","[IL, IL]"
1,"[[""IL"",""CH"",""BE""],[""IL"",""CH"",""BE""]]","[IL, CH, BE, IL, CH, BE]","[[""CH"",""IL"",""BE""],[""CH"",""IL"",""BE""]]","[CH, IL, BE, CH, IL, BE]"
2,"[[],[""CH"",""AO"",""IL""],[""AO"",""IL"",""GB"",""CH""]]","[CH, AO, IL, AO, IL, GB, CH]","[[""AO"",""NL"",""CH""],[""AO"",""NL"",""CH""],[""AO"",""NL"",...","[AO, NL, CH, AO, NL, CH, AO, NL, CH]"
3,"[""IL""]",[IL],"[""IL""]",[IL]
4,"[[],[""RU"",""DE""]]","[RU, DE]","[[""CH"",""RU""],[""CH"",""RU""]]","[CH, RU, CH, RU]"
...,...,...,...,...
148,"[""IL"",""AO""]","[IL, AO]","[""IL"",""AO""]","[IL, AO]"
149,"[[],[""IL""]]",[IL],"[[""IL""],[""IL""]]","[IL, IL]"
150,"[[],[""CH"",""IL""],[""CH"",""IL""]]","[CH, IL, CH, IL]","[[""CH"",""IL""],[""CH"",""IL""],[""CH"",""IL""]]","[CH, IL, CH, IL, CH, IL]"
151,[],[],"[""IL"",""DE"",""NL"",""FR"",""US""]","[IL, DE, NL, FR, US]"
152,"[[],[],[]]",[],"[[""DE""],[""DE""]]","[DE, DE]"

In [38]:
df['SOF1'] = df['SOF_Countries'].str.extract(r'([A-Z]+)')

,SOF_Countries,SOW_Countries,SOF1
0,"[[""IL""],[""IL""]]","[[""IL""],[""IL""]]",IL
1,"[[""CH"",""IL"",""BE""],[""CH"",""IL"",""BE""]]","[[""IL"",""CH"",""BE""],[""IL"",""CH"",""BE""]]",CH
2,"[[""AO"",""NL"",""CH""],[""AO"",""NL"",""CH""],[""AO"",""NL"",...","[[],[""CH"",""AO"",""IL""],[""AO"",""IL"",""GB"",""CH""]]",AO
3,"[""IL""]","[""IL""]",IL
4,"[[""CH"",""RU""],[""CH"",""RU""]]","[[],[""RU"",""DE""]]",CH
...,...,...,...
148,"[""IL"",""AO""]","[""IL"",""AO""]",IL
149,"[[""IL""],[""IL""]]","[[],[""IL""]]",IL
150,"[[""CH"",""IL""],[""CH"",""IL""],[""CH"",""IL""]]","[[],[""CH"",""IL""],[""CH"",""IL""]]",CH
151,"[""IL"",""DE"",""NL"",""FR"",""US""]",[],IL
152,"[[""DE""],[""DE""]]","[[],[],[]]",DE